body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1{


    font-size: 60px;
    color: #EC4C7A;
    padding-top: 0px;
    margin-top: 0;
    
}

h2{
    font-weight: 400;
    font-size: 50px;
    color: #202428;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}


p{
    color: #707070;
    
    margin-bottom: 40px;
    
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 100px;

}

.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
footer{
    height: 500px;
}

.link-button{
    text-decoration: none;
    text-align: center;
    background-color:#EC4C76 ;
    font-weight: 600;
    padding:10px 20px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(180deg,#EC4C76 #ED4B72);
    

}
.top-banner{
    background-image: url("./images/header-bg.png");
    background-repeat:no-repeat;
    background-position: left;
    background-size: 100% 100%;


}
.biography-area{
    background-image: url("./images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.workarea{
    background-image: url("./images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.workarea-images{
    margin:10px 20px;
}

.workarea-images img{
    width: 30%;
    padding-left: 25px;
}

.workarea-text{
    padding: 100px 100px;
}

.service-area{
    background-image: url("./images/header-bg.png");
    background-position: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 1px;
    
}
.service-images {
    width: 100%;
    
}
.service-width{
    display: flex;
    width: 80%;
    float: left;
    margin-left: 8%;
    padding-left: 2%;

}


.service-text{
   
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    margin: 8px 8px;
    padding: 20px 20px;
}

#service1{
    border-top: 7px solid ;
    border-image: linear-gradient(90deg, lightsalmon,tomato);
    border-image-slice: 1;
}

#service2{
    border-top: 7px solid ;
    border-image: linear-gradient(90deg, #6FF3C6,#34A2F2);
    border-image-slice: 1;
}
#service3{
    border-top: 7px solid ;
    border-image: linear-gradient(90deg, #FF4790,#FF1A74);
    border-image-slice: 1;
}
#service4{
    border-top: 7px solid ;
    border-image: linear-gradient(90deg, #4979E0,#802CD7);
    border-image-slice: 1;
}

.client-review{
    background-image: url("./images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin-top: 160px;
}


.review-width{
    text-align: center;
    width: 40%;
    margin-left: 25%;
    padding-left: 2%;
    
    
}

footer #bruce{
    margin: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer  #founderceo{
    color: #707070;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 50px;

}

footer #review-paragrap{
    color: #333333;
    margin-bottom: 60px;
}

footer #copywrite{
    margin-top: 120px;
    margin-bottom: 10px;
}